.component-center {
    margin: 0 auto;
    float: none;
}
.card-custom {
    box-shadow: 0px 3px 5px 5px;
    border-radius: 1rem;
    background-color: #35363b;
    color: white;
}

.btn-gold {
    color: white;
    background-color: gold;
}

body{
  background-color: 
#510d7c;
}


.mb-3.form-box.bg-form {
  background-color: #12af0a;
  
}
.mb-3.mt-5.form-box{
  background-color: #12af0a;
}

.container-fluid{
  background-color:
  #d8b6fb;
  outline: none;
  padding: 4px 8px;
  border-radius: 12px;
  border: solid 2px;
}

/* Style untuk form input */
input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
textarea {
  border: 5px solid transparent;
  border-bottom: solid 5px;
  padding: 5px 0px;
  outline-style: none;
  transition: .3s ease-out;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
textarea
:focus{
  outline: none;
  padding: 4px 8px;
  border-radius: 12px;
  border: solid 2px;
}

input[type="text"],
input[type="date"], 
input[type="password"], 
input[type="number"], 
textarea
::placeholder{
  color: #ccc;
  transition: .3s;
}

/* Style untuk label pada form input */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style untuk radio button pada form */
.form-check-input[type="radio"] {
  margin-right: 5px;
}

/* Style untuk tombol "Daftar" */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

/* Style untuk tombol "Bersihkan" */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  margin-left: 10px;
  color: #fff;
}

/* Style untuk judul pada form */
h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-box {
    border: 2px solid #0f0f0f;
    padding: 10px;
    margin-bottom: 10px;
    background: 
    #f9f9f9;
    outline: none;
  padding: 4px 8px;
  border-radius: 12px;
  border: solid 2px;
  }

.card-header{
 background-color: #d8b6fb;
}

.card-body{
  background-color: #510d7c;
  color: #fff;
}

.card-footer{
  background-color: #d8b6fb;
}

