

  header {
    background-color: #F5F5F5;
    padding: 1rem 2rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
  }
  
  
  nav ul a {
    color: white
  }
  
  
  h1 {
    font-size: 4rem;
  }
  .row{
  padding-left: 5vh;
  padding-right: 5vh;
  }
  .col-2{
  flex: 50%;
  }
  body{
  background-color: #F5F5F5;
  }
  
  h2{
  font-size: 3rem;
  }
  
  button{
  width: 20%;
  border-radius: 10px;
  padding: 10px;
  background-color: #510d7c;
  color: white;

  border-color: #510d7c;
  }
  button:hover{
  background-color:white ;
  color: #510d7c;
  border-color: white;
  }

  
.card-header{
  background-color: #d8b6fb;
 }
 
 .card-body{
   background-color: #510d7c;
   color: #fff;
 }
 
 .card-footer{
   background-color: #d8b6fb;
 }
